body{
    width:760px;
    margin:0 auto;
    padding:0;
}
table{
    border-collapse: collapse;
    border:1px solid;
}
tr.table-h1 th{
    border: solid;
    font-size:large;
    font-weight: bold;
}
tr.table-h2{
    border:solid;
    font-weight: bold;
}
td{
    text-align: center;
}
